.signed-up {
    height: fit-content;
    width: 70vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    &__content {
        height: 45vh;
        width: 70vw;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;

        &__title {
            font-size: 1.5rem;
        }
        &__item {
            width: 70vw;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: flex-start;
            &__label {

            }
            &__input {
                width: 70vw;
            }
        }
        &__button {
            height: 5vh;
            width: 70vw;
        }
    }
}