.list {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;

    &__empty {
        padding: 1rem;
        font-style: italic;
    }
}

@media screen and (min-width: 720px) {

}