@use "../../variables"as *;

.form {
    height: fit-content;
    width: 70vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    &__content {
        height: 30vh;
        width: 70vw;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;

        &__email {
            width: 70vw;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: flex-start;

            &__label {}

            &__input {
                width: 70vw;
            }
        }

        &__password {
            width: 70vw;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: flex-start;

            &__label {}

            &__input {
                width: 70vw;
            }
        }

        &__submit {
            width: 70vw;
        }
    }
}

@media screen and (min-width: 720px) {

    .form {
        width: 32vw;

        &__content {
            height: 40vh;
            width: 32vw;

            &__email {
                width: 30vw;

                &__input {
                    height: 4vh;
                    width: 30vw;
                }
            }
            &__password {
                width: 30vw;

                &__input {
                    height: 4vh;
                    width: 30vw;
                }
            }
            &__submit {
                height: 4vh;
                width: 30vw;
            }
        }

    }

}