@use "../../variables" as *;

.card {
    height: fit-content;
    width: 80vw;
    margin: 1.5rem;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border: 1px solid $light-grey;

    &__crop {
        height: 30vh;
        width: 80vw;
        overflow: hidden;
    }
    &__image {
        width: 80vw;
        height: auto;
    }
    &__address {
        color: $dark-blue;
    }
    &__price {

    }
    &__desc {
        margin: 0.5rem 0;
    }
    &__rooms {
        width: 70vw;
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin: 1rem 0;
    }
    &__room {
        display: flex;
    }
    &__icon {
        height: 3vh;
        width: auto;
        margin-right: 0.2rem;
    }
    &__bedrooms {

    }
    &__bathrooms {

    }
    &__receptions {

    }
    &__buttons {
        width: 60vw;
        display: flex;
        justify-content: space-between;
    }
}