@use "../../variables" as *;

.navbar {
    height: 10vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: $dark-blue;
    &__item {
        color: $off-white;
        font-size: 1rem;
        // &:active {
        //     background-color: $mid-blue;
        // }
    }
}

@media screen and (min-width: 720px) {

}