@use "../../variables" as *;

.properties-page {
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &__title {
        width: 100vw;
        margin: auto;
        background-color: $orange;
        color: $off-white;
        padding: 0.5rem;
        font-size: 1.5rem;
    }
}