//colour and font variables!
@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap');

$black: #131212;
$blue: #92b3e5;
$light-grey: #EEE5E9;
$grey: #7C7C7C;
$orange: #D64933;


$dark-blue: #334f5f;
$light-blue: #B8DBD9;
$off-white: #F4F4F9;
$green: #04724D;

$main-font: "Oxygen", sans-serif


